@model IEnumerable<ChatSystem.Models.User>
@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
    @*<link rel="stylesheet" href="login_form.css" type="text/css" />*@

    <link href="../Content/login_form0.css" rel="stylesheet" />
</head>
<body id="body_main">
    <div class="main" id="main">
       @Html.Partial("_Index")
    </div>
    <br /><br /><br /><br /><br />
    <script src="~/Scripts/chatSystemJS1.1.js"></script>
</body>
</html>
